<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--指定属性-->

<mapper namespace="com.edu.eduonline.dao.ChapterMapper">

    <!--   1. 通过课程id>>>获取章节信息-->
    <select id="SelectChapterAllByCourse_id" resultType="chapter" parameterType="Integer">
    select

    chapter.cha_id,
chapter.course_id,
chapter.video,
chapter.cha_sum,
chapter.cha_date,
chapter.cha_name,
chapter.`data`,
chapter.images,
chapter.cha_like,
my_plan.p_id,
my_plan.p_plan

     from
chapter LEFT JOIN
my_plan
 on my_plan.cha_id=chapter.cha_id and my_plan.u_id=#{u_id}
    where chapter.course_id=#{course_id}
</select>
    <!--    5.通过主键查询章节>>>左连查询-->
    <select id="SelectChapterByChap_Id" resultType="chapter" parameterType="Integer">
    select
    chapter.cha_id,
chapter.course_id,
chapter.video,
chapter.cha_sum,
chapter.cha_date,
chapter.cha_name,
chapter.`data`,
chapter.images,
chapter.cha_like,
my_plan.p_id,
my_plan.p_plan
  from
chapter LEFT JOIN
my_plan
 on my_plan.cha_id=chapter.cha_id and my_plan.u_id=#{u_id}
 where chapter.cha_id=#{cha_id}
</select>

    <select id="SelChapterByCourse_id" resultType="chapter" parameterType="Integer">
        select * from chapter
        where course_id=#{course_id}
    </select>
<!--    非连接查询-->
    <select id="SelectChapterByCha_Id" resultType="chapter" parameterType="Integer">
        select * from chapter
        where cha_id=#{cha_id}
    </select>
<!--2.添加章节-->
    <insert id="InsertChapter" parameterType="chapter">
    INSERT INTO chapter
(
chapter.course_id,
chapter.video,
chapter.cha_date,
chapter.cha_name,
chapter.images,
chapter.`data`
)
VALUES
(
#{course_id},
#{video},
#{cha_date},
#{cha_name},
#{images},
#{data}
)
</insert>

    <!--   3. 删除章节-->
    <delete id="DelChapter" parameterType="Integer">
        DELETE FROM chapter
WHERE cha_id=#{cha_id};
    </delete>
    <!--    4.更新章节信息-->
    <update id="UpdChapterByCha_id" parameterType="chapter">
        update chapter
        <set>
            <if test="data !=null and data!=''">
                data=#{data},
            </if>
            <if test="video !=null and video!=''">
                video=#{video},
            </if>
            <if test="cha_name !=null and cha_name!=''">
                cha_name=#{cha_name},
            </if>
            <if test="images !=null and images!=''">
                images=#{images},
            </if>
        </set>
        <where>
            cha_id=#{cha_id}
        </where>
    </update>


    <!--    删除章节-->
    <delete id="DeleteChapterByCourse_cha_id" parameterType="Integer">
        DELETE FROM chapter
WHERE course_cha_id=#{course_cha_id};
    </delete>

<!--    <select id="SelectChapterAndMy_Plan" resultType="Chapter" parameterType="Integer">-->
<!--        SELECT * FROM chapter LEFT JOIN my_plan-->
<!--ON chapter.cha_id=my_plan.p_cha_id-->
<!--WHERE my_plan.u_id=#{u_id}-->
<!--and course_cha_id=#{course_cha_id};-->
<!--    </select>-->
<!--    <select id="SelCountMychapterByCourId" parameterType="Integer" resultType="Integer">-->
<!--        select count(*) from chapter-->
<!--        where course_cha_id=#{course_cha_id}-->
<!--    </select>-->
</mapper>

