<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--指定属性-->

    <mapper namespace="com.edu.eduonline.dao.RoleMapper">

    <select id="SelectRoleById" resultType="User_role" parameterType="Integer">
        select * from user_role
        where id=#{id}
    </select>
</mapper>

