<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--指定属性-->

    <mapper namespace="com.education.edu.dao.CourseMapper">

<select id="SelectCourse"   resultType="course" parameterType="String">
    select * from course
    <where>
        <if test="course_name !=null and course_name !=''" >
            course_name like "%"#{course_name}"%"
        </if>
    </where>
</select>
    <insert id="InsertCourse" parameterType="course">
        INSERT into course
(
course.course_name,
course.c_chapter_id,
course.class_id,
course.img,
course.grade,
Course_date,
sumtime,
author,
c_user_id,
price
)
VALUES
(
#{course_name},
#{c_chapter_id},
#{class_id},
#{img},
#{grade},
#{course_date},
#{sumtime},
#{author},
#{c_user_id},
#{price}
)
    </insert>
    <select id="CountCourse" resultType="Integer">
        SELECT
count(*)
FROM
course
    </select>
<!--    SelectAllCourseByUserId-->
    <select id="SelectAllCourseByUserId" resultType="course" parameterType="Integer">
      SELECT * FROM course c
LEFT JOIN dict d
ON
c.class_id=d.dict_id
<where>
    <if test="c_user_id !=null">
        c_user_id=#{c_user_id}
    </if>
</where>
    </select>
<!--删除课程-->
    <delete id="DeleteCourseByCid" parameterType="Integer">
        delete  from course
        where c_chapter_id=#{c_chapter_id}
    </delete>
    <select id="SelectCourseByC_chapter_id" resultType="course" parameterType="Integer">
        SELECT
*
FROM
course
where c_chapter_id=#{c_chapter_id}
    </select>
</mapper>

