<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--指定属性-->

    <mapper namespace="com.education.edu.dao.UserMapper">

<insert id="InsterUser" parameterType="user">
INSERT INTO `user`
(
`user`.user_name,
`user`.`password`,
`user`.`r_id`,
`user`.username

)VALUES
(
#{user_name},
#{password},
0,
#{username}
)
    </insert>

    <select id="SelectUserByUser" resultType="user" parameterType="user">
        SELECT
        *
        FROM
        user
        WHERE username=#{username}
        and password=#{password}
    </select>
    <select id="SelectUserByUsername" resultType="user" parameterType="String">
        SELECT
        *
        FROM
        user
        WHERE username=#{username}
    </select>


</mapper>

